.form-card {
  background: #fff;
  padding: 0 28rpx;
  border-radius: 24rpx;
  margin: 18rpx 0 28rpx;
}

.field {
  padding: 28rpx 0;
  border-bottom: 1rpx solid #f1ece7;
}

.last-field {
  border-bottom: 0;
}

.label {
  display: block;
  margin-bottom: 14rpx;
  color: #6e625a;
  font-size: 24rpx;
}

input,
textarea {
  width: 100%;
  box-sizing: border-box;
  font-size: 30rpx;
}

textarea {
  min-height: 160rpx;
}
